/* --------- PERSONAL HOMEPAGE ---------------- */

/* ------ COLOR VARIABLES ------ */
:root {
	--black: #000000;
	--dark: #000720;
	--light: #ffffff;
	--mid: #d1c6b8;
	--midlight: #d1c6b874;
}

/* ------ BASE STYLES ------- */

* {
	box-sizing: border-box;
}

body {
	background: var(--dark);
	color: var(--light);
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-size: 16px;
	letter-spacing: 0.15em;
	margin: 0em;
}

img {
	max-width: 100%;
}

a {
	color: var(--light);
	font-size: 0.9em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	padding: 1.5em;
	text-decoration: none;
}
.topletter {
	text-transform: uppercase;
	font-size: 0.7em;
	font-family: bree, sans-serif;
	letter-spacing: 0.3em;
	display: grid;
	margin-top: 0.5em;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;
	grid-area: 1/ 1 / span 1 / span 9;
}
.basegrid {
	display: grid;
	grid-template-rows: repeat(16, 5vh);
	grid-template-columns: repeat(9, 8.8vw);
	grid-gap: 0.6em;
	margin: 0;
}

/* ------ NAV STYLES ------- */
.toggle {
	display: flex;
	justify-content: flex-end;
}

.menu-button {
	padding: 0.2em;
	justify-content: flex-end;
}
.open-menu {
	display: none;
}
.navbar {
	margin: 1.8em 0.8em;
	grid-area: 1 / 5 / span 2 / span 5;
	align-self: center;
}
nav {
	display: none;
}

.nav-active .open-menu {
	display: inline-block;
	position: fixed;
	top: 5vh;
	left: 8vw;
	z-index: 4;
}
.nav-active .menu-button {
	display: none;
}
.nav-active nav {
	position: fixed;
	top: 0vh;
	left: 0vw;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-rows: repeat(8, 1fr);
	grid-template-columns: repeat(4, 1fr);
	justify-content: space-around;
	align-content: space-around;
	background: var(--black);
	z-index: 1;
}

nav a {
	text-decoration: none;
	font-size: 1.2em;
	padding: 0em 1.8em 0em;
	align-self: center;
}
nav a:nth-child(1) {
	grid-area: 2/1 / span 1 / span 2;
}

nav a:nth-child(2) {
	grid-area: 3/1 / span 1 / span 4;
}
nav a:nth-child(3) {
	grid-area: 4/1 / span 1 / span 3;
}
nav a:nth-child(4) {
	grid-area: 5/1 / span 1 / span 3;
}
nav img:nth-child(5) {
	grid-area: 8 /3 / span 1 / span 2;
}
nav a:nth-child(6) {
	display: grid;
	font-size: 0.8em;
	justify-content: center;
	align-items: center;
	justify-items: center;
	grid-area: 7/1 / span 1 / span 2;
}
.insta {
	max-width: 25%;
}
/* ------ HEADING STYLES ------- */
.numbers {
	display: flex;
	justify-content: flex-start;
	font-family: essonnes-display, serif;
	margin: 0em;
	font-size: 7.2em;
	grid-area: 2 / 2 / span 3 / span 4;
}
.sectionh {
	grid-area: 2 / 1 / span 4 / span 9;
	display: grid;
	grid-template-rows: 0.7em 0.7em;
	line-height: 0.8em;
	font-family: essonnes-display, serif;
	gap: 0.15em;
	opacity: 0.6;
	font-size: 7.2em;
	text-transform: uppercase;
	align-content: center;
	color: var(--mid);
	z-index: -1;
}
.sectionh :nth-child(1) {
	margin: 0;
	grid-area: 1 / 1 / span 1 / span 1;
	overflow: hidden;
}
.sectionh :nth-child(2) {
	margin: 0;
	grid-area: 2 / 1 / span 1 / span 1;
	overflow: hidden;
}
.subheads {
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}
.port {
	grid-area: 6 / 1 / span 16 / span 9;
	display: grid;
	margin: 0.5em;
}
.fourcol {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.twocol {
	display: grid;
	gap: 0.5em;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
}
h1 {
	font-family: essonnes-display, serif;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	font-size: 2.2em;
}
h2 {
	font-size: 1.1em;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
}
/* ------ OPEN STYLES ------- */
.background {
	width: 100%;
	height: 100%;
	overflow: hidden;
	grid-area: 2 / 1 / span 10 / span 8;
	border-right: solid var(--light) 1.5px;
	border-bottom: solid var(--light) 1.5px;
}
/* ------ PORTFOLIO STYLES ------- */

#welcome main {
	display: grid;
	grid-area: 9 / 2 / span 5 / span 7;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 3fr 2fr 1fr;
}
#welcome main > h1 {
	grid-area: 1 / 1 / span 1 / span 2;
}
#welcome main > h2 {
	grid-area: 2 / 1 / span 1 / span 2;
}
#welcome main > a {
	grid-area: 3 / 2 / span 1 / span 1;
	display: grid;
	grid-template-columns: 90px 30px;

	align-items: center;
	gap: 0.8em;
	border: var(--light) 1px solid;
	margin: 0.4em;
}
#about main {
	display: grid;
	grid-area: 2 / 1 / span 20 / span 9;
	grid-template-columns: repeat(11, 1fr);
	grid-template-rows: repeat(11, 1fr);
	margin: 0.5em;
}

#about main > h1 {
	grid-area: 1 / 1 / span 2 / span 5;
}
#about main > .sectionh {
	grid-area: 1 / 1 / span 2 / span 10;
	font-size: 6.5em;
}

#about main > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	z-index: -1;
}
#about main > img:nth-child(3) {
	grid-area: 3 / 5 / span 4 / span 7;
	opacity: 0.7;
	z-index: -2;
}
#about main > p:nth-child(4) {
	grid-area: 5 / 2 / span 3 / span 9;
}

#about main > img:nth-child(5) {
	grid-area: 8 / 1 / span 3 / span 7;
	opacity: 0.8;
	z-index: -2;
}
#about main > p:nth-child(6) {
	grid-area: 8 / 8 / span 3 / span 4;
	padding-left: 0.5em;
}
#about main > a {
	grid-area: 12 / 5 / span 2 / span 6;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	gap: 0.8em;
	padding: 0.6em;
	border: var(--light) 1px solid;
	margin: 0.3em;
}
#about footer {
	grid-area: 19 / 2 / span 1 / span 2;
}
/* ------ FEAT STYLES ------- */
#feat main {
	display: grid;
	grid-area: 2 / 1 / span 20 / span 9;
	grid-template-columns: repeat(6, 1fr);
	margin: 0.5em;
	justify-content: space-between;
}
#feat main > h1 {
	grid-area: 1 / 1 / span 1 / span 2;
	font-size: 5em;
}
#feat main > .sectionh {
	grid-area: 1 / 1 / span 1 / span 6;
	font-size: 4em;
	line-height: 1em;
	letter-spacing: -0.05em;
	grid-template-rows: 0.7em 0.7em;
	gap: 0.2em;
}
#feat main > p:nth-child(3) {
	grid-area: 2 / 2 / span 4 / span 4;
	padding: 0.2em;
}
#feat main > .twocol img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#feat main > .twocol {
	grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 1fr);
	grid-area: 6 / 1 / span 8 / span 6;
	padding: 0.6em;
	gap: 0.6em;
	background: var(--midlight);
}

#feat main > a:nth-child(5) {
	grid-area: 14 / 4 / span 1 / span 3;
	padding: 0.9em;
	display: grid;
	grid-template-columns: 2fr 1fr;
	align-items: center;
	gap: 0.5em;
	border: var(--light) 1px solid;
	margin: 0.8em;
}
/* ------ PORTFOLIO STYLES ------- */
#port main {
	display: grid;
	grid-area: 2 / 1 / span 13 / span 9;
	grid-template-columns: repeat(6, 58px);
	margin: 0.5em;
	justify-content: space-between;
}
#port main > h1 {
	grid-area: 1 / 1 / span 1 / span 2;
	font-size: 7em;
}
#port main > .sectionh {
	grid-area: 1 / 1 / span 1 / span 6;
	font-size: 7em;
}

#port main > p:nth-child(3) {
	grid-area: 2/2 / span 1 / span 5;
}
.port-bar {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	gap: 1.3em;
	grid-area: 3/ 1 / span 2 / span 6;
	justify-items: center;
	justify-content: center;
	align-items: center;
	margin: 0.5em;
}
.port-bar > span {
	border: 1px solid var(--light);
	padding: 0.8em 2.2em;
	font-family: essonnes-display, serif;
	font-weight: 300;
	font-size: 1.1em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
.port-back {
	display: none;
}

/* DESIGNS ACTIVE  */
.designs,
.motion,
.photo {
	display: none;
}
.designs-active .des-enter,
.designs-active .mot-enter,
.designs-active .photo-enter,
.motion-active .des-enter,
.motion-active .mot-enter,
.motion-active .photo-enter,
.photo-active .des-enter,
.photo-active .mot-enter,
.photo-active .photo-enter {
	display: none;
}
.designs-active .port-back,
.motion-active .port-back,
.photo-active .port-back {
	display: block;
	transform: rotate(-180deg);
	padding: 0.5em 1.8em;
}
.designs-active .port-bar,
.motion-active .port-bar,
.photo-active .port-bar {
	display: grid;
	grid-template-rows: 1fr;
	grid-area: 3 /1 / span 1 / span 2;
}
.designs-active p:nth-child(3),
.motion-active p:nth-child(3),
.photo-active p:nth-child(3) {
	display: none;
}
.designs-active .designs {
	display: grid;
	grid-area: 4 / 1 / span 5 / span 6;
	grid-template-rows: repeat(14, 1fr);
	grid-template-columns: repeat(7, 1fr);
	padding: 0;
	gap: 0.6em;
}
.designs-active .designs a,
.motion-active .motion a {
	padding: 0;
}
.designs-active .designs img,
.motion-active .motion img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.designs-active .designs > a:nth-child(2) {
	grid-area: 1 / 1 / span 4 / span 6;
}
.designs-active .designs > a:nth-child(4) {
	grid-area: 5 / 3 / span 4 / span 5;
}
.designs-active .designs > a:nth-child(6) {
	grid-area: 9 / 1 / span 3 / span 5;
}
.designs-active .designs > a:nth-child(8) {
	grid-area: 12 / 4 / span 4 / span 4;
}

.designs-active .designs > h3:nth-child(1),
.designs-active .designs > h3:nth-child(3),
.designs-active .designs > h3:nth-child(5),
.designs-active .designs > h3:nth-child(7) {
	margin: 0;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	transform-origin: center;
	max-width: 0.8em;
}

.designs-active .designs > h3:nth-child(1) {
	grid-area: 2 / 7 / span 1 / span 1;
	transform: rotate(90deg);
}
.designs-active .designs > h3:nth-child(3) {
	grid-area: 7 / 2 / span 1 / span 1;
	transform: rotate(-90deg);
}
.designs-active .designs > h3:nth-child(5) {
	grid-area: 10 / 6 / span 1 / span 1;
	transform: rotate(90deg);
}
.designs-active .designs > h3:nth-child(7) {
	grid-area: 13 / 3 / span 1 / span 1;
	transform: rotate(-90deg);
}
/* MOTION ACTIVE  */

.motion-active .motion {
	display: grid;
	grid-area: 4 / 1 / span 5 / span 6;
	grid-template-rows: repeat(12, 1fr);
	grid-template-columns: repeat(7, 1fr);
	padding: 0;
}

.motion-active .motion > h3:nth-child(1),
.motion-active .motion > h3:nth-child(3) {
	margin: 0;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	align-self: center;
	justify-self: center;
}

.motion-active .motion > h3:nth-child(1) {
	grid-area: 1 / 1 / span 1 / span 3;
}
.motion-active .motion > h3:nth-child(3) {
	grid-area: 7 / 5 / span 1 / span 3;
}
.motion-active .motion > a:nth-child(2) {
	grid-area: 2 / 1 / span 4 / span 6;
}
.motion-active .motion > a:nth-child(4) {
	grid-area: 8 / 2 / span 4 / span 6;
}
/* PHOTO ACTIVE  */

.photo-active .photo {
	display: grid;
	grid-area: 4 / 1 / span 5 / span 6;
	grid-template-rows: repeat(17, 1fr);
	grid-template-columns: repeat(7, 1fr);
	padding: 0;
	gap: 0.8em;
}

.photo-active .photo > a:nth-child(2) {
	grid-area: 1 / 2 / span 4 / span 6;
}
.photo-active .photo > a:nth-child(4) {
	grid-area: 5 / 1 / span 4 / span 6;
	z-index: -1;
}
.photo-active .photo > a:nth-child(6) {
	grid-area: 9 / 3 / span 4 / span 5;
	z-index: -2;
}
.photo-active .photo > a:nth-child(8) {
	grid-area: 13 /1 / span 4 / span 5;
	z-index: -3;
}
.photo-active .photo > h3:nth-child(1),
.photo-active .photo > h3:nth-child(3),
.photo-active .photo > h3:nth-child(5),
.photo-active .photo > h3:nth-child(7) {
	margin: 0;
	font-family: futura-pt, sans-serif;
	font-weight: 300;
	font-size: 2em;
	align-self: center;
	justify-self: center;
}
.photo-active .photo > h3:nth-child(1) {
	grid-area: 3 / 1 / span 1 / span 7;
	z-index: 1;
}
.photo-active .photo > h3:nth-child(3) {
	grid-area: 6 / 2 / span 1 / span 7;
}
.photo-active .photo > h3:nth-child(5) {
	grid-area: 10 / 5 / span 2 / span 3;
}
.photo-active .photo > h3:nth-child(7) {
	grid-area: 15 / 1 / span 2 / span 4;
}
